@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");
@import "button";
@import "input";

//fonts
$lato: "Lato", sans-serif;
$helvetica: "HelvicaNeueCyr", sans-serif;

//colors
$steelBlue: #4a7b9d;
$oceanBlue: #23395d;
$purpleNavy: #54577c;
$morningBlue: #9aa899;
$orangeSoda: #f55d3e;
$goldenroadYellow: #faffd8;


//fontsizes 12px, 14px, 16px, 20px, 48px

* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: $helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



h1, h2, h3, h4, h5, h6 {
    font-family: $lato;
    font-weight: 700;
}

.header {
    width: 100%;
    height: 18vh;
    background-color: white;

    h3 {
        text-align: center;
        line-height: 18vh;
        font-size: 48px;
        color: $steelBlue;
        font-weight: 900;
    }
}

.mobileMenu {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8vh;
    background-color: #F5F5F5;

    ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        list-style: none;
    }

    li {
        width: 33vw;
        padding-top: 5px;
    }

    svg {
        font-size: 25px;
    }

    a:link {
        text-decoration: none;
    }

    .link {
        color: #808080;
    }
}

.loginForm {
    text-align: center;

    input:first-of-type {
        margin-top: 2em;
    }

    input {
        width: 80%;
        background-color: #F4F4F4;
        margin-top: 1em;
    }

    .loginBtn {
        background-color: $steelBlue;
    }

    .createAccountBtn {
        width: 50%;
        background-color: green;
    }

    hr {
        width: 85%;
        margin: auto;
    }

    hr, p {
        margin-top: 1em;
    }

    p {
        font-size: 12px;
    }
}

.registerForm {
    width: 80%;
    margin: auto;
    text-align: center;

    p {
        font-size: 12px;
        margin-top: 1em;
    }

    h2:first-of-type {
        margin-top: 1em;
        font-size: 18px;
    }

    input {
        width: 100%;
        background-color: #F4F4F4;
        margin-top: 3em;
    }

    button {
        margin-top: 1em;
        background-color: $steelBlue;
        width: 100%;
    }

    .createAccountBtn {
        background-color: green;
    }

    a {
        text-decoration: underline;
        font-size: 12px;
    }
}

.financeSetupView {
    width: 80%;
    margin: auto;
    //text-align: center;

    h2:first-of-type {
        margin-top: 1em;
        font-size: 18px;
    }

    h4:first-of-type {
        margin-top: 1em;
    }

    p {
        font-size: 12px;
        margin-top: 1em;
    }

    input {
        width: 100%;
        background-color: #F4F4F4;
        margin-top: 3em;
    }

    button {
        margin-top: 1em;
        background-color: $steelBlue;
        width: 100%;
    }

	a {
		text-decoration: underline;
		font-size: 12px;
		text-align: center;
	}

    .expensesInputsWrapper {
        display: table;
    }

    .expensesInputCategory, .expensesInputAmount {
        display: table-cell
    }

    .expensesInputCategory {
        width: 40%;
        padding-right: 0.5em;
    }

    .expensesInputAmount {
        width: 60%
    }

    .testInputs:first-of-type {
        margin-top: 2em;
    }

    .testInputs {
        background-color: #EBEBEB;
        margin-top: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0.5em;
        border-radius: 5px;
        overflow: hidden;
        line-height: 36.5px;

        input {
            width: 25%;
            margin-top: 0;
            background-color: white;
            margin-left: 0.5em;
            border: 1px solid black;
            float: right;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 10px;
            margin-left: 0.5em;
            width: 31%;
            border: 1px solid black;
            float: right;
        }

        h3 {
            margin-left: 0.5em;
            font-size: 14px;
            display: inline-block;
        }

        img {
            margin-left: 2px;
            width: 19.5px;
            vertical-align: middle;
            color: #54577c;
        }
    }

    .pig {
        width: 100px;
        position: absolute;
        left: calc(50% - 50px);
        top: 85%;
    }

    .coin {
           position: absolute;

           &.coin1 {
               width: 40px;
               left: 43%;
               top: 77%;
           }

           &.coin2 {
               width: 30px;
               left: 37%;
               top: 70%;
           }

           &.coin3 {
               width: 25px;
               left: 48%;
               top: 64%;
           }

           &.coin4 {
               width: 20px;
               left: 56%;
               top: 72%;
           }

           &.coin5 {
               width: 17px;
               left: 33%;
               top: 64%;
           }

           &.coin6 {
               width: 21px;
               left: 63%;
               top: 62%;
           }
    }

}

.dashboard {
    height: 100%;
    width: 100%;

    .fullscreen {
        position: fixed;
        background-color: $oceanBlue;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
    }

    .savingsDiv {
        width: 100%;
        padding-bottom: 9vh;
        margin: 0 auto;
        background-color: white;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;

        h3 {
            padding-top: 1em;
            padding-left: 3em;
            font-weight: 600;
        }
    }

    .spendingText {
        text-align: center;
        margin-top: -6em;

        #spendAmount {
            font-size: 36px;
            font-weight: 900;
            color: white
        }

        #spendText {
            color: #ededed;
        }
    }

    #chartdiv {
        width : 100%;
        height : 250px;
        font-size : 12px;
        padding-top: 4em;
    }

    .chartBg {
        //background-image: linear-gradient(to left top, #4a7b9d, #5e8dae, #72a0bf, #86b3d1, #9ac6e3);
        background-color: $oceanBlue;
        padding-bottom: 4em;
        //-webkit-box-shadow: 0 1px 6px 0px black;
	    //-moz-box-shadow: 0 1px 6px 0px black;
	    //box-shadow: 0 1px 6px 0px black;
    }

    .dot {
        height: 13px;
        width: 13px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        margin-left: 3.6em;
        margin-top: 1em;
    }

    .amount {
        float: right;
        margin-top: 14px;
        padding-right: 3.6em;
    }
}

.profile {
	.fullPageWrapper {
		background: linear-gradient(180deg, $oceanBlue 50%, white 50%);
		height: 100vh;
		width: 100vw;
	}

	.headerWrapper {
		width: 90%;
		margin: 0 auto;
		display: table;
		margin-bottom: 2vh;

		h1 {
			font-size: 24px;
			padding-left: 18px;
			padding-top: 2vh;
			color: white;
			padding-bottom: 1vh;
		}

		.editIcon {
			font-size: 30px;
			color: white;
			float: right;
			padding-top: 35px;
		}

		.profilePicture {
			float: left;
		}
	}

	.contentWrapper {
		background-color: white;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		padding-bottom: calc(52px + 2vh);
	}

	.menuItem {
		padding: 2em;
		display: flex;
		justify-content: space-between;
	}

	.testInputs {
		background-color: #F5F5F5;
        margin-top: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        line-height: 36.5px;

		input {
            width: 25%;
			margin-right: 5%;
            background-color: white;
            border: 1px solid black;
            float: right;
        }

		h3 {
            margin-left: 5%;
            font-size: 14px;
            display: inline-block;
        }
	}

	.passwordInputs {
		input {
			width: 90%;
			margin-right: 5%;
			margin-left: 5%;
			margin-top: 2vh;
		}
	}

	.goBack {
		svg {
			font-size: 36px;
			margin-bottom: -20px;
			padding: 15px;
		}

		p {
			display: inline-block;
			position: relative;
    		top: -7px;
		}
	}

	button {
		display: table;
		margin: 0 auto;
		margin-top: 2vh;
		color: black;
	}
}

.statistics {
	.fullPageWrapper {
		background: linear-gradient(180deg, $oceanBlue 50%, #F1F5F9 50%);
		height: 100vh;
		width: 100vw;
	}

	.headerWrapper {
		padding-top: 2em;
		padding-bottom: 2em;
		width: 90%;
		margin: 0 auto;
	}

	.barWrapper {
		width: 100%;
		height: 2.5vh;
		display: flex;
		background-color: #385B94;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
	}

	.barLeft {
		background-color: #89A5D2;
		height: 2.5vh;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
	}

	.barRight {
		background-color: #385B94;
		height: 2.5vh;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
	}

	.contentWrapper {
		padding-top: 4vh;
		background-color: #F1F5F9;
		border-radius: 10px;
		padding-bottom: calc(52px + 3vh);

		h2 {
			font-size: 20px;
			margin-left: 5%;
			margin-top: 3vh;
			margin-bottom: 1vh;
		}
	}

	.headerTextWrapper {
		display: flex;
		padding-bottom: 10px;
	}

	.number {
		float: left;
		color: white;
		font-size: 36px;
		font-weight: 600;
	}

	.kvar {
		color: white;
		font-size: 16px;
		padding-left: 5px;
		margin-top: 10px;
		float: left;
	}

	.kvarBorder {
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid white;
		border-radius: 25px;
	}

	.spendingOverview {
		padding-top: 5px;
		color: white;
		font-size: 14px;
	}

	.insightsWrapper {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.insightsCard {
		width: 40vw;
		height: 20vh;
		background-color: white;
		text-align: center;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

		h1 {
			font-size: 20px;
			margin: 0;
			padding-top: 3vh;
			padding-bottom: 5vh;
		}

		p {
			padding: 0;
			font-size: 14px;
		}
	}

	.budgetWrapper {
		background-color: white;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		width: 90%;
		margin: 0 auto;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	.budgetItem {
		display: flex;
		justify-content: space-between;
		margin-left: 1em;
		margin-right: 1em;
		padding-bottom: 0.5vh;
	}
}

.payments {
	height: 100%;
	width: 100%;

	.fullscreen {
		position: fixed;
		background-color: $oceanBlue;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
	}

	.paymentsDiv {
        width: 100%;
        padding-bottom: 9vh;
        margin: 0 auto;
        background-color: white;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;
		padding-top: 2em;

        h3 {
            padding-top: 1em;
            padding-left: 3em;
            font-weight: 600;
        }
    }

	.pageTitle {
        text-align: center;
        margin-top: 2em;
		margin-bottom: 2em;
		color: white;
    }

	button {
		display: table;
		margin: 0 auto;
		margin-top: 1em;
		width: 50%;
		color: black;
	}

	.formPopup {
		display: none;
		position: fixed;
		bottom: 208px;
		border: 3px solid black;
		z-index: 9;
	}

	.formContainer {
		max-width: 300px;
		padding: 10px;
		background-color: white;
		position: fixed;
	}

	.payment {
		display: flex;
		justify-content: space-between;

		p:first-of-type {
			margin-left: 2em;
		}

		p:last-of-type {
			margin-right: 2em;
		}
	}
}

@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}

.active {
    color: black!important;
}

input.input-error {
	border: 2px solid!important;
	border-color: red!important;
	animation: shake 0.5s!important;
}

button.error {
	background-color: rgba(74, 123, 157, 0.5);
	animation: shake 0.5s!important;
}

p.error {
	color: red;
}

button:disabled {
	opacity: 0.35;
}
