@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");

//fonts
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;

//colors
$steelBlue: #4a7b9d;
$purpleNavy: #54577c;
$morningBlue: #9aa899;
$orangeSoda: #f55d3e;
$goldenroadYellow: #faffd8;

//fontsizes 12px, 14px, 16px, 20px, 48px

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $roboto;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $lato;
    font-weight: normal;
}

.header {
    width: 100%;
    height: 18vh;
    background-color: $steelBlue;

    h3 {
        text-align: center;
        line-height: 18vh;
        font-size: 48px;
    }
}
